
{% extends "base.html" %}
{% block content%}
  <main>
    <h1>Welcome To Shopping_Center</h1>
    <div class="contaner">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/static/images/image1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/images/image2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/images/image3.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/images/image4.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/images/image5.jpg" alt="Second slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h1>Today's Deals</h1>
      <div class="card1">
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
      </div>
<!-- dgahajjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
      <h1>Fashion Brands on Discounts</h1>
      <div class="card1">
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
      </div>
      <!-- ajskaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
      <h1>Best of Electronics</h1>
      <div class="card1">
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
        <div class="card-item">
          <img class="images" src="/static/images/jeans.jpg" alt="">
          <div class="line">
            <p><b>product name</b></p>
            <p><b>min 20% off</b></p>
            <p><b>Grab Now</b></p>
          </div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}